<head>
  <link rel="stylesheet" href="~/css/Components/ModalView.css" />
</head>

<dialog open class="modal" id="modal">
  <div class="modal-container">
    <div class="content">
      <div class="btn-cerrar">
        <button class="btn btn-danger" id="btn-cerrar"><i class="fi fi-tr-x"></i></button>
      </div>
      <div class="header">
        <div class="icono">
          @{
            if (ViewBag.Tipo == "error")
            {
              <i class="fi fi-tr-x" style="color:red; font-size:2.5em ;"></i>
            }
            else if (ViewBag.Tipo == "success")
            {
              <i class="fi fi-rr-check" style="color:var(--accent-color)"></i>

            }
            else if (ViewBag.Tipo == "confirmation")
            {

              <i class="fi fi-tr-triangle-warning" style="color:#ffb805"></i>

            }
            else if (ViewBag.Tipo == "aprobacion")
            {
              <i class="fi fi-tr-memo-circle-check" style="color:var(--accent-color)"></i>
            }
          }
        </div>
        <div class="titulo">
          <h2>@ViewBag.Titulo</h2>
        </div>
      </div>
      <div class="mensaje">
        <p>@ViewBag.Mensaje</p>
      </div>
      <div class="footer">
        <div class="btn-container">
          @{
            if (ViewBag.Tipo == "confirmation")
            {
              <form asp-action="Eliminar" asp-controller="@ViewBag.Controlador" method="post">
                <div class="campo" id="campo" style="display: none;">
                  <label for="@ViewBag.Parametro">@ViewBag.Parametro</label>
                  <input type="text" name="@ViewBag.Parametro" id="@ViewBag.Parametro" value="@((ViewBag.id) ?? "")">
                </div>
                <button type="submit" class="btn-confirmation" id="btn-aceptar">Aceptar</button>
              </form>
              <button class="btn btn-cancelar" id="btn-cancelar">Cancelar</button>
            }
            else
            {
              <button class="btn @( ViewBag.Tipo == "error" ? "btn-error" : "btn-success")" id="btn">Aceptar</button>
            }
          }
        </div>
      </div>
    </div>
  </div>

</dialog>

<script>

  const dialog = document.querySelector("dialog");

  if (dialog != null) {
    const btns = document.querySelectorAll(".btn");
    btns.forEach(btn => {
      btn.addEventListener("click", (e) => {
        e.preventDefault();
        dialog.close();
      });
    });
  }
</script>