@{
  ViewBag.Title = "Mi Perfil";
  Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<head>
  <link rel="stylesheet" href="~/css/Cuenta/Perfil.css" asp-append-version="true" />
</head>

@{

  if (TempData["openModal"] != null)
  {

    if (TempData["Error"] != null)
    {
      @await Component.InvokeAsync("Modal", new { tipo = "error", mensaje = TempData["Error"] })
      ;
    }
    else if (TempData["Success"] != null)
    {
      @await Component.InvokeAsync("Modal", new { tipo = "success", mensaje = TempData["Success"] })
      ;
    }
    else if (TempData["Confirmation"] != null)
    {
      @await Component.InvokeAsync("Modal", new { tipo = "confirmation", mensaje = TempData["Confirmation"], controlador =
      TempData["Controlador"], parametro = TempData["Parametro"], ID =
      TempData["ID"] })
;
  }
}
}

@{

  if (TempData["openModalAprobacionRechazo"] != null)
  {
    if (TempData["CambiarContrasena"] != null)
    {
      @await Component.InvokeAsync("ModalAprobacionRechazo", new { tipo = "cambiarContrasena", mensaje = "",
      controlador =
      TempData["Controlador"], parametro = TempData["Parametro"], ID =
      TempData["ID"], montoSolicitado = "" })
}
}
}


<section class="main-container">
  <div class="titulo-seccion">
    <h1>Mi Perfil</h1>
  </div>
  <div class="secciones">
    <div class="campos-container icono-nombre-container">
      <div class="grupo icono-nombre">
        <div class="logo-usuario">
          @{

            var logoUsuario = @Model.P_NOMBRE.Substring(0, 1);
            <span>@logoUsuario</span>

          }
        </div>
        <div class="campo nombre-completo">
          <h3 class="valor">@Model.P_NOMBRE @Model.S_NOMBRE @Model.P_APELLIDO @Model.S_APELLIDO</h3>
        </div>
        <div class="campo Puesto-departamento">
          <span class="valor">@Model.NOMBRE_PUESTO de @Model.NOMBRE_DEPARTAMENTO</span>
        </div>
      </div>
    </div>
    <div class="campos-container">
      <div class="grupo cuenta">
        <div class="titulo-grupo">
          <h2>Cuenta</h2>
        </div>
        <div class="campo">
          <span class="label">Usuario:</span>
          <span class="valor">@Model.CODIGO_EMPLEADO</span>
        </div>
        <div class="campo">
          <span class="label">Contraseña:</span>
          <span class="valor">******************</span>
        </div>
        <div class="acciones">
          <a id="btnCambiarContrasena" href="@Url.Action("ModalCambiarContrasena", "Cuenta")" class="btn btn-nuevo">
            <span>Cambiar contraseña</span></a>
        </div>
      </div>

    </div>
    <div class="campos-container">
      <div class="grupo informacion-personal">
        <div class="titulo-grupo">
          <h2>Informacion personal</h2>
        </div>
        <div class="campo">
          <span class="label">Primer Nombre:</span>
          <span class="valor">@Model.P_NOMBRE</span>
        </div>
        <div class="campo">
          <span class="label">Segundo Nombre:</span>
          <span class="valor">@Model.S_NOMBRE</span>
        </div>
        <div class="campo">
          <span class="label">Primer Apellido:</span>
          <span class="valor">@Model.P_APELLIDO</span>
        </div>
        <div class="campo">
          <span class="label">Segundo Apellido:</span>
          <span class="valor">@Model.S_APELLIDO</span>
        </div>
        <div class="campo">
          <span class="label">Pais Nacimiento:</span>
          <span class="valor">@Model.PAIS_NACIMIENTO</span>
        </div>
        <div class="campo">
          <span class="label">Fecha Nacimineto:</span>
          <span class="valor">@Model.FECHA_NACIMIENTO</span>
        </div>
        <div class="campo">
          <span class="label">Sexo:</span>
          <span class="valor">@Model.SEXO</span>
        </div>
        <div class="campo">
          <span class="label">Estado Civil:</span>
          <span class="valor">@Model.ESTADO_CIVIL</span>
        </div>
        <div class="campo">
          <span class="label">Tipo Sangre:</span>
          <span class="valor">@Model.TIPO_SANGRE</span>
        </div>
      </div>
    </div>
    <div class="campos-container">

      <div class="grupo contacto">
        <div class="titulo-grupo">
          <h2>Contacto</h2>
        </div>
        <div class="campo">
          <span class="label">Direccion:</span>
          <span class="valor">@Model.DIRECCION</span>
        </div>
        <div class="campo">
          <span class="label">Telefono Principal:</span>
          <span class="valor">@Model.TELEFONO_PRINCIPAL</span>
        </div>
        <div class="campo">
          <span class="label">Telefono Secundario:</span>
          <span class="valor">@Model.TELEFONO_SECUNDARIO</span>
        </div>

        <div class="campo">
          <span class="label">Email:</span>
          <span class="valor">@Model.EMAIL</span>
        </div>
      </div>
    </div>
    <div class="campos-container">
      <div class="grupo informacion-geografica">
        <div class="titulo-grupo">
          <h2>Informacion geografica</h2>
        </div>
        <div class="campo">
          <span class="label">Sector:</span>
          <span class="valor">@Model.NOMBRE_SECTOR</span>
        </div>
        <div class="campo">
          <span class="label">Ciudad:</span>
          <span class="valor">@Model.NOMBRE_CIUDAD</span>
        </div>
        <div class="campo">
          <span class="label">Provincia:</span>
          <span class="valor">@Model.NOMBRE_PROVINCIA</span>
        </div>
      </div>
    </div>
    <div class="campos-container">
      <div class="grupo informacion-laboral">
        <div class="titulo-grupo">
          <h2>Informacion laboral</h2>
        </div>
        <div class="campo">
          <span class="label">Frecuencia Cobro:</span>
          <span class="valor">@Model.FRECUENCIA_COBRO</span>
        </div>
        <div class="campo">
          <span class="label">Cuenta Banco:</span>
          <span class="valor">@Model.CUENTA_BANCO</span>
        </div>
        <div class="campo">
          <span class="label">Entidad Bancaria:</span>
          <span class="valor">@Model.NOMBRE_ENTIDAD_BANCARIA</span>
        </div>
        <div class="campo">
          <span class="label">Puesto:</span>
          <span class="valor">@Model.NOMBRE_PUESTO</span>
        </div>
        <div class="campo">
          <span class="label">Departamento:</span>
          <span class="valor">@Model.NOMBRE_DEPARTAMENTO</span>
        </div>
        <div class="campo">
          <span class="label">Nivel Aprobacion:</span>
          <span class="valor">@Model.NOMBRE_NIVEL_APROBACION</span>
        </div>
        <div class="campo">
          <span class="label">Estatus:</span>
          <span class="valor">@Model.ESTATUS</span>
        </div>
      </div>
    </div>
    <div class="campos-container">
      <div class="grupo informacion-familiar">
        <div class="titulo-grupo">
          <h2>Informacion familiar</h2>
        </div>
        <div class="campo">
          <span class="label">Nombre Familiar Primario:</span>
          <span class="valor">@Model.NOMBRE_FAMILIAR_PRIMARIO</span>
        </div>
        <div class="campo">
          <span class="label">Telefono Familiar Primario:</span>
          <span class="valor">@Model.TELEFONO_FAMILIAR_PRIMARIO</span>
        </div>
        <div class="campo">
          <span class="label">Parentesco Familiar Primario:</span>
          <span class="valor">@Model.PARENTESCO_FAMILIAR_PRIMARIO</span>
        </div>
        <div class="campo">
          <span class="label">Nombre Familiar Secundario:</span>
          <span class="valor">@Model.NOMBRE_FAMILIAR_SECUNDARIO</span>
        </div>
        <div class="campo">
          <span class="label">Telefono Familiar Secundario:</span>
          <span class="valor">@Model.TELEFONO_FAMILIAR_SECUNDARIO</span>
        </div>
        <div class="campo">
          <span class="label">Parentesco Familiar Secundario:</span>
          <span class="valor">@Model.PARENTESCO_FAMILIAR_SECUNDARIO</span>
        </div>
      </div>
    </div>
  </div>
</section>