@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
  var menu = new Menu
  {
    Items = new List<Item> {
new Item {
Titulo = "Gestion de Prestamos",
Icono = "fi fi-tr-handshake-deal-loan",
ModuloPermiso = "Prestamos",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Crear solicitud de prestamo", Url = Url.Action("CrearSolicitudPrestamo", "Prestamos"), Permiso =
"RegistrarSolicitudPrestamo" },
new SubItem { Titulo = "Consultar solicitudes de prestamo", Url = Url.Action("SolicitudesPrestamos", "Prestamos"),
Permiso = "ConsultarSolicitudesPrestamos" },
new SubItem { Titulo = "Aprobacion de prestamos", Url = Url.Action("AprobacionSolicitudesPrestamos", "Prestamos"),
Permiso =
"AprobacionSolicitudPrestamos" },
new SubItem { Titulo = "Consultar prestamos", Url = Url.Action("ConsultarPrestamos", "Prestamos"), Permiso =
"ConsultarPrestamos" },
new SubItem { Titulo = "Registrar categoria de prestamo", Url = Url.Action("Crear", "CategoriaPrestamos"), Permiso =
"RegistrarCategoriaPrestamo" },
new SubItem { Titulo = "Consultar categorias de prestamo", Url = Url.Action("RegistroCategoriaPrestamos",
"CategoriaPrestamos"), Permiso = "ConsultarCategoriasPrestamos" },
new SubItem { Titulo = "Registrar nivel de aprobacion", Url = Url.Action("Crear", "NivelesAprobacion"), Permiso =
"RegistrarNivelAprobacion"},
new SubItem { Titulo = "Consultar niveles de aprobacion", Url = Url.Action("RegistroNivelesAprobacion",
"NivelesAprobacion"), Permiso = "ConsultarNivelesAprobacion"},
new SubItem { Titulo = "Registrar anexo", Url = Url.Action("Crear", "Anexos"), Permiso = "RegistrarAnexo" },
new SubItem { Titulo = "Consultar anexos", Url = Url.Action("RegistroAnexos", "Anexos"), Permiso = "ConsultarAnexos" } }
},
new Item {
Titulo = "Gestion de pagos",
Icono = "fi fi-tr-sack-dollar",
ModuloPermiso = "Pagos",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Registrar pago", Url = Url.Action("RegistrarPago", "Pagos"), Permiso = "RegistrarPago" },
new SubItem { Titulo = "Consultar pagos", Url = Url.Action("ConsultarPagos", "Pagos"), Permiso = "ConsultarPagos" },
}
},
new Item {
Titulo = "Gestion de socios",
Icono = "fi fi-tr-customer-care",
ModuloPermiso = "Socios",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Registrar socio", Url = Url.Action("Crear", "Socios"), Permiso = "RegistrarSocio" },
new SubItem { Titulo = "Consultar socios", Url = Url.Action("RegistroSocios", "Socios"), Permiso = "ConsultarSocios" }
}
},
new Item {
Titulo = "Gestion de empleados",
Icono = "fi fi-tr-employee-man",
ModuloPermiso = "Empleados",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Registrar empleado", Url = Url.Action("Crear", "Empleados"), Permiso = "RegistrarEmpleado" },
new SubItem { Titulo = "Consultar empledos", Url = Url.Action("RegistroEmpleados", "Empleados"), Permiso =
"ConsultarEmpleados" },
new SubItem { Titulo = "Registrar puesto", Url = Url.Action("Crear", "Puestos"), Permiso = "RegistrarPuesto" },
new SubItem { Titulo = "Consultar puestos", Url = Url.Action("RegistroPuestos", "Puestos"), Permiso = "ConsultarPuestos"
},
new SubItem { Titulo = "Registrar departamento", Url = Url.Action("Crear", "Departamentos"), Permiso =
"RegistrarDepartamento" },
new SubItem { Titulo = "Consultar departamentos", Url = Url.Action("RegistroDepartamentos", "Departamentos"), Permiso =
"ConsultarDepartamentos" },
new SubItem { Titulo = "Registrar entidad bancaria", Url = Url.Action("Crear", "EntidadesBancarias"), Permiso =
"RegistrarEntidadBancaria" },
new SubItem { Titulo = "Consultar entidades bancarias", Url = Url.Action("RegistroEntidadesBancarias",
"EntidadesBancarias"), Permiso = "ConsultarEntidadesBancarias" }
}
},
new Item {
Titulo = "Gestion de codeudores",
Icono = "fi fi-tr-user-salary",
ModuloPermiso = "Codeudores",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Registrar codeudor", Url = Url.Action("Crear", "Codeudores"), Permiso = "RegistrarCodeudor" },
new SubItem { Titulo = "Consultar codeudores", Url = Url.Action("RegistroCodeudores", "Codeudores"), Permiso =
"ConsultarCodeudores" },
}

},
new Item {
Titulo = "Configuracion",
Icono = "fi fi-tc-settings",
ModuloPermiso = "Configuracion",
SubItems = new List<SubItem> {
new SubItem { Titulo = "Usuarios", Url = Url.Action("CuentasUsuarios", "Configuracion"), Permiso = "ConfigurarUsuarios"
},
new SubItem { Titulo = "Roles", Url = Url.Action("Roles", "Configuracion"), Permiso = "ConfigurarRoles" },
new SubItem { Titulo = "Permisos", Url = Url.Action("Permisos", "Configuracion"), Permiso = "ConfigurarPermisos" }
}
}
}
  };

  var session = HttpContextAccessor.HttpContext?.Session;
  var permisosJson = session?.GetString("Permisos");
  var permisos = JsonSerializer.Deserialize<List<PermisoCuenta>>(permisosJson ?? "[]");


}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Coop360</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/LayoutDashboard.css" asp-append-version="true">
</head>

<body>
  <header>
    <div class="informacion-usuario">
      <div class="nombre-usuario">
        @{

          var P_NOMBRE = session?.GetString("P_NOMBRE") ?? "Invitado";
          var S_NOMBRE = session?.GetString("S_NOMBRE") ?? "";
          var P_APELLIDO = session?.GetString("P_APELLIDO") ?? "";
          var S_APELLIDO = session?.GetString("S_APELLIDO") ?? "";

          <p>Bienvenido, @P_NOMBRE @P_APELLIDO</p>
        }
      </div>
      <div class="logo-usuario">
        @{

          var logoUsuario = @P_NOMBRE.Substring(0, 1);
          <span>@logoUsuario</span>

        }
      </div>
      <div class="menu-usuario">
        <nav>
          <ul>
            <li><a href="@Url.Action("Perfil", "Cuenta")"><i class="fi fi-tr-member-list"></i><span>Mi Perfil</span></a>
            </li>
            <li><a href="@Url.Action("Logout", "Auth")"><i class="fi fi-tr-sign-out-alt"></i><span>Cerrar
                  sesion</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="menu">
    <div class="logo">
      <img src="../img/logos/logo-menu.png" alt="Logo Coop360_I">
    </div>
    <nav>

      @* Inicio *@
      <div class="opcion-unica">
        <a id="test" class="opcion-link" href="@Url.Action("Home", "Dashboard")">
          <div class="icono">
            <i class="fi fi-tr-house-chimney"></i>
          </div>
          <span class="nombre">Inicio</span>
        </a>
      </div>

      @{
        if (permisos != null)
        {
          foreach (var item in menu.Items)
          {

            var subItemsPermitidos = item.SubItems?.Where(subItem => permisos.Any(permiso => permiso.PERMISO ==
            subItem.Permiso)).ToList();

            if (subItemsPermitidos != null && subItemsPermitidos.Any())
            {
              <ul class="dropdown option">
                <div class="dropdown-titulo">
                  <div class="titulo">
                    <div class="opcion-icono">
                      <i class="@item.Icono"></i>
                    </div>
                    <span class="dropdown-title">@item.Titulo</span>
                  </div>
                  <div class="dropdown-icono">
                    <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
                  </div>
                </div>
                <div id="opciones-prestamo" class="opciones">
                  @{
                    if (subItemsPermitidos != null)
                    {
                      @foreach (var subItem in subItemsPermitidos)
                      {
                        <li>
                          <a class="hvr-underline-from-center" href="@subItem.Url"> @subItem.Titulo </a>
                        </li>
                      }
                    }
                  }
                </div>
              </ul>

            }
          }

        }
      }

      @* @{
        if (permisos != null)
        {
          @foreach (var permiso in permisos)
          {

            foreach (var item in menu.Items)
            {
              if (permiso.MODULO == item.ModuloPermiso)
              {
                <ul class="dropdown option">
                  <div class="dropdown-titulo">
                    <div class="titulo">
                      <div class="opcion-icono">
                        <i class="@item.Icono"></i>
                      </div>
                      <span class="dropdown-title">@item.Titulo</span>
                    </div>
                    <div class="dropdown-icono">
                      <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
                    </div>
                  </div>
                  <div id="opciones-prestamo" class="opciones">
                    @{
                      if (item.SubItems != null)
                        @foreach (var subItem in item.SubItems)
                        {

                          if (permiso.PERMISO == subItem.Permiso)
                          {
                            <li>
                              <a class="hvr-underline-from-center" href="@subItem.Url"> @subItem.Titulo </a>
                            </li>
                          }
                        }
                    }
                  </div>
                </ul>

              }
            }

          }
        }
      } *@

      @* Prestamos *@
      @* <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-handshake-deal-loan"></i>
            </div>
            <span class="dropdown-title">Prestamos</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div id="opciones-prestamo" class="opciones">
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("CrearSolicitudPrestamo", "Prestamos")">Registrar
              solicitud de
              prestamo </a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroSolicitudPrestamos", "Prestamos")">Consultar
              solicitudes
              de
              prestamo </a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Aprobar", "Prestamos")">Aprobacion de
              prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "Prestamos")">Registrar
              prestamo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroPrestamos", "Prestamos")">Consultar
              prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "CategoriaPrestamos")">Registrar
              Categoria de prestamo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center"
              href="@Url.Action("RegistroCategoriaPrestamos", "CategoriaPrestamos")">Consultar
              categoria de prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "NivelesAprobacion")">Registrar
              nivel
              de aprobacion</a>
          </li>
          <li>
            <a class="hvr-underline-from-center"
              href="@Url.Action("RegistroNivelesAprobacion", "NivelesAprobacion")">Consultar
              niveles de aprobacion</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "Anexos")">Registrar
              anexo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroAnexos", "Anexos")">Consultar
              anexos</a>
          </li>
        </div>
      </ul> *@

      @*Gestion de pagos  *@
      @* <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-sack-dollar"></i>
            </div>
            <span class="dropdown-title">Gestion de pagos</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="#">Registrar pago </a></li>
          <li><a class="hvr-underline-from-center" href="#">Historial de pagos</a></li>
        </div>
      </ul> *@

      @*Gestion de socios  *@
      @* <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-customer-care"></i>
            </div>
            <span class="dropdown-title">Gestion de socios</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Socios")">Registrar socio </a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroSocios", "Socios")">Consultar socios</a>
          </li>
        </div>
      </ul> *@

      @*Gestion de empleados  *@
      @* <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-employee-man"></i>
            </div>
            <span class="dropdown-title">Gestion de empleados</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div id="opciones-empleados" class="opciones">
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Empleados")">Registrar empleado
            </a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroEmpleados", "Empleados")">Consultar
              empleados
            </a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Puestos")">Registrar puesto</a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroPuestos", "Puestos")">Consultar
              puestos</a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Departamentos")">Registrar
              departamento</a></li>
          <li><a class="hvr-underline-from-center"
              href="@Url.Action("RegistroDepartamentos", "Departamentos")">Consultar departamentos</a></li>
        </div>
      </ul> *@

      @*Gestion de codeudores  *@
      @* <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-user-salary"></i>
            </div>
            <span class="dropdown-title">Gestion de codeudores</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Codeudores")">Registrar codedudor</a>
          </li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroCodeudores", "Codeudores")">Consultar
              codeudores</a></li>
        </div>
      </ul> *@

    </nav>
  </div>
  <div class="main-container">
    <main role="main" class="pb-3">
      @RenderBody()
      <img id="logobg-inicio" src="../img/logos/logobg-inicio.png" alt="Logo Coop360_I Fondo">
    </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
