@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Coop360_I</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/LayoutDashboard.css" asp-append-version="true" />
</head>

<body>
  <header>
    <div class="informacion-usuario">
      <div class="nombre-usuario">
        @{

          var session = HttpContextAccessor.HttpContext?.Session;
          var P_NOMBRE = session?.GetString("P_NOMBRE") ?? "Invitado";
          var S_NOMBRE = session?.GetString("S_NOMBRE") ?? "";
          var P_APELLIDO = session?.GetString("P_APELLIDO") ?? "";
          var S_APELLIDO = session?.GetString("S_APELLIDO") ?? "";

          <p>Bienvenido, @P_NOMBRE @P_APELLIDO</p>
        }
      </div>
      <div class="logo-usuario">
        @{

          var logoUsuario = @P_NOMBRE.Substring(0, 1);
          <span>@logoUsuario</span>

        }
      </div>
      <div class="menu-usuario">
        <nav>
          <ul>
            <li><a href="@Url.Action("Perfil", "Cuenta")"><i class="fi fi-tr-member-list"></i><span>Mi Perfil</span></a>
            </li>
            @* <li><a href="#">Configuracion</a></li> *@
            <li><a href="@Url.Action("Logout", "Auth")"><i class="fi fi-tr-sign-out-alt"></i><span>Cerrar
                  sesion</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="menu">
    <div class="logo">
      <img src="../img/logos/logo-menu.png" alt="Logo Coop360_I">
    </div>
    <nav>

      @* Inicio *@
      <div class="opcion-unica">
        <a id="test" class="opcion-link" href="@Url.Action("Home", "Dashboard")">
          <div class="icono">
            <i class="fi fi-tr-house-chimney"></i>
            @* <img src="../img/iconos/inicio.png" alt="Icono inicio"> *@
          </div>
          <span class="nombre">Inicio</span>
        </a>
      </div>

      @* Prestamos *@
      <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-handshake-deal-loan"></i>
            </div>
            <span class="dropdown-title">Prestamos</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div id="opciones-prestamo" class="opciones">
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("CrearSolicitudPrestamo", "Prestamos")">Registrar
              solicitud de
              prestamo </a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroSolicitudPrestamos", "Prestamos")">Consultar
              solicitudes
              de
              prestamo </a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Aprobar", "Prestamos")">Aprobacion de
              prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "Prestamos")">Registrar
              prestamo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroPrestamos", "Prestamos")">Consultar
              prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "CategoriaPrestamos")">Registrar
              Categoria de prestamo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center"
              href="@Url.Action("RegistroCategoriaPrestamos", "CategoriaPrestamos")">Consultar
              categoria de prestamos</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "NivelesAprobacion")">Registrar
              nivel
              de aprobacion</a>
          </li>
          <li>
            <a class="hvr-underline-from-center"
              href="@Url.Action("RegistroNivelesAprobacion", "NivelesAprobacion")">Consultar
              niveles de aprobacion</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("Crear", "Anexos")">Registrar
              anexo</a>
          </li>
          <li>
            <a class="hvr-underline-from-center" href="@Url.Action("RegistroAnexos", "Anexos")">Consultar
              anexos</a>
          </li>
        </div>
      </ul>

      @*Gestion de pagos  *@
      <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-sack-dollar"></i>
              @* <img src="../img/iconos/cobros.png" alt="Icono prestamos"> *@
            </div>
            <span class="dropdown-title">Gestion de pagos</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="#">Registrar pago </a></li>
          <li><a class="hvr-underline-from-center" href="#">Historial de pagos</a></li>
        </div>
      </ul>

      @*Gestion de socios  *@
      <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-customer-care"></i>
              @* <img src="../img/iconos/socios.png" alt="Icono prestamos"> *@
            </div>
            <span class="dropdown-title">Gestion de socios</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="#">Registrar socio </a></li>
          <li><a class="hvr-underline-from-center" href="#">Consultar socios</a></li>
        </div>
      </ul>

      @*Gestion de empleados  *@
      <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-employee-man"></i>
              @* <img src="../img/iconos/empleados.png" alt="Icono prestamos"> *@
            </div>
            <span class="dropdown-title">Gestion de empleados</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div id="opciones-empleados" class="opciones">
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Empleados")">Registrar empleado
            </a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroEmpleados", "Empleados")">Consultar
              empleados
            </a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Puestos")">Registrar puesto</a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroPuestos", "Puestos")">Consultar
              puestos</a></li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Departamentos")">Registrar
              departamento</a></li>
          <li><a class="hvr-underline-from-center"
              href="@Url.Action("RegistroDepartamentos", "Departamentos")">Consultar departamentos</a></li>
        </div>
      </ul>

      @*Gestion de codeudores  *@
      <ul class="dropdown option">
        <div class="dropdown-titulo">
          <div class="titulo">
            <div class="opcion-icono">
              <i class="fi fi-tr-user-salary"></i>
              @* <img src="../img/iconos/codeudores.png" alt="Icono prestamos"> *@
            </div>
            <span class="dropdown-title">Gestion de codeudores</span>
          </div>
          <div class="dropdown-icono">
            <img src="../img/iconos/flecha-menu-desplegable.png" alt="">
          </div>
        </div>
        <div class="opciones">
          <li><a class="hvr-underline-from-center" href="@Url.Action("Crear", "Codeudores")">Registrar codedudor</a>
          </li>
          <li><a class="hvr-underline-from-center" href="@Url.Action("RegistroCodeudores", "Codeudores")">Consultar
              codeudores</a></li>
        </div>
      </ul>

    </nav>
  </div>
  <div class="main-container">
    <main role="main" class="pb-3">
      @RenderBody()
      <img id="logobg-inicio" src="../img/logos/logobg-inicio.png" alt="Logo Coop360_I Fondo">
    </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
