@{
  Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<head>
  <link rel="stylesheet" href="~/css/Prestamos/Anexos/FormAnexos.css">
  <link rel="stylesheet" href="~/css/Form.css">
</head>

<section class="main-container">
  <div class="titulo-seccion">
    <h1>@ViewBag.Title</h1>
    <div class="acciones">
      <a href="@Url.Action("RegistroAnexos", "Anexos")" class="btn btn-regresar"><i class="fi fi-rr-undo"></i></a>
      <button type="button" id="btn-submit" class="btn btn-nuevo"><i
          class="fi fi-rr-plus"></i><span>Guardar</span></button>
    </div>
  </div>
  <div class="form-container">

    <form id="form" asp-action="@(ViewBag.Title == "Editar Anexo" ? "Actualizar" : "Guardar")" asp-controller="Anexos"
      method="post">

      <div class="campos-container">
        <div class="grupo informacion-container">
          <div class="titulo-grupo" id="titulo">
            <h2></h2>
          </div>
          <div class="campo" id="campo_id_anexo" style="display: none;">
            <label for="ID_ANEXO">ID ANEXO</label>
            <input type="text" name="ID_ANEXO" id="ID_ANEXO" value="@((Model.Anexo?.ID_ANEXO) ?? "")">
          </div>
          <div class="campo" id="campo_nombre_anexo">
            <label for="NOMBRE">Nombre</label>
            <input type="text" name="NOMBRE" id="NOMBRE" value="@((Model.Anexo?.NOMBRE) ?? "")" required>
          </div>

          <div class="campo" id="campo_obligatorio">
            <label for="obligatorio">Obligatorio</label>
            @{
              if (Model.Anexo?.OBLIGATORIO == "S")
              {
                <input type="checkbox" name="OBLIGATORIO" id="OBLIGATORIO" value="S" checked>
              }
              else
              {
                <input type="checkbox" name="OBLIGATORIO" id="OBLIGATORIO" value="S">
              }
            }
          </div>
          <div class="campo" id="campo_nivel_aprobacion">
            <label for="nivel_aprobacion">Nivel Aprobacion</label>
            <select name="ID_NIVEL_APROBACION" id="nivel_aprobacion">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var nivel_aprobacion in @Model.NivelesAprobacion)
              {

                if (nivel_aprobacion.ID_NIVEL_APROBACION == Model.Anexo?.ID_NIVEL_APROBACION)
                {
                  <option id="@nivel_aprobacion.ID_NIVEL_APROBACION" value="@nivel_aprobacion.ID_NIVEL_APROBACION" selected>
                    @nivel_aprobacion.ID_NIVEL_APROBACION
                  </option>
                }
                else
                {
                  <option id="@nivel_aprobacion.ID_NIVEL_APROBACION" value="@nivel_aprobacion.ID_NIVEL_APROBACION">
                    @nivel_aprobacion.ID_NIVEL_APROBACION
                  </option>
                }
              }
            </select>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>

<script src="~/js/Form.js"></script>