@{
  ViewBag.Title = "Registro de Anexos";
  Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<head>
</head>

@{

  if (TempData["openModal"] != null)
  {

    if (TempData["Error"] != null)
    {
      @await Component.InvokeAsync("Modal", new { tipo = "error", mensaje = TempData["Error"] })
      ;
    }
    else if (TempData["Success"] != null)
    {
      @await Component.InvokeAsync("Modal", new { tipo = "success", mensaje = TempData["Success"] })
      ;
    }
    else if (TempData["Confirmation"] != null)
      @await Component.InvokeAsync("Modal", new { tipo = "confirmation", mensaje = TempData["Confirmation"], controlador =
      TempData["Controlador"], parametro = TempData["Parametro"], ID =
      TempData["ID"] })
;
}
}
}

<section class="main-container">
  <div class="titulo-seccion">
    <h1>@ViewBag.Title</h1>
  </div>
  <div class="data-container">
    <div class="acciones">
      <button id="btnRegresar" class="btn btn-regresar"><i class="fi fi-rr-undo"></i></button>

      @* <a href="@Url.Action("Home", "Dashboard")" class="btn btn-regresar"><i class="fi fi-rr-undo"></i></a> *@
      <a href="@Url.Action("Crear", "Anexos")" class="btn btn-nuevo"><i
          class="fi fi-rr-plus"></i><span>Agregar</span></a>
    </div>
    <div class="table-container">
      @{

        if (Model.Count == 0)
        {
          <div class="no-data">
            <div class="icono">
              @* <i class="fi fi-tr-box-open"></i> *@
              <i class="fi fi-tr-drawer-empty"></i>
            </div>
            <div class="mensaje">
              <span>No hay datos disponibles.</span>
            </div>
          </div>
        }

      }
      <!-- Tabla de datos -->
      <table id="table" class="table">
        <thead>
          <tr class="cabecera">
            <!-- Columnas dinámicas -->
            <th>
              <div class="th">Editar</div>
            </th>
            <th>
              <div class="th">
                <span>ID Anexo</span>
              </div>
            </th>

            <th>
              <div class="th">
                <span>Nombre</span>
              </div>
            </th>
            <th>
              <div class="th">
                <span>Obligatorio</span>
              </div>
            </th>

            <th>
              <div class="th">
                <span>Nivel de aprobacion</span>
            </th>
            <th>
              <div class="th">
                <span>Tipo</span>
            </th>
            <th>
              <div class="th">
                <span>Eliminar</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Ejemplo de filas dinámicas -->
          @foreach (var anexo in Model)
          {
            <tr>
              <td>
                <a class="dato accion-editar" data-id-Anexo="@anexo.ID_ANEXO"
                  href="@Url.Action("Editar", "Anexos", new { idAnexo = @anexo.ID_ANEXO })"><i
                    class="fi fi-tc-pencil"></i></a>
              </td>
              <td>
                <div class="dato">@anexo.ID_ANEXO</div>
              </td>

              <td>
                <div class="dato">@anexo.NOMBRE</div>
              </td>

              <td>
                <div class="dato">
                  @{
                    if (anexo?.OBLIGATORIO == "S")
                    {
                      <input type="checkbox" name="OBLIGATORIO" id="OBLIGATORIO" value="S" checked disabled>
                    }
                    else
                    {
                      <input type="checkbox" name="OBLIGATORIO" id="OBLIGATORIO" value="N" disabled>
                    }
                  }
                </div>
              </td>

              <td>
                <div class="dato">@anexo?.NOMBRE_NIVEL_APROBACION</div>
              </td>

              <td>
                <div class="dato">@anexo.TIPO</div>
              </td>

              <td>
                <a class="dato accion-eliminar" data-id-anexo="@anexo?.ID_ANEXO"
                  href="@Url.Action("Eliminar", "Anexos", new { idAnexo = @anexo?.ID_ANEXO })"><i
                    class="fi fi-tr-trash-xmark"></i></a>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <!-- Menú flotante para ordenar -->
      <div id="sort-menu" style="display:none; position:absolute;">
        <ul>
          <li><button data-order="asc">Orden Ascendente</button></li>
          <li><button data-order="desc">Orden Descendente</button></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<script src="~/js/Table.js"></script>