@{
  Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<head>
  <link rel="stylesheet" href="~/css/Empleados/FormEmpleados.css">
</head>

<section class="main-container">
  <div class="titulo-seccion">
    <h1>@ViewBag.Title</h1>
    <div class="acciones">
      <a href="@Url.Action("RegistroEmpleados", "Empleados")" class="btn btn-regresar"><i class="fi fi-rr-undo"></i></a>
      <button type="button" id="btn-submit" class="btn btn-nuevo"><i
          class="fi fi-rr-plus"></i><span>Guardar</span></button>
    </div>
  </div>
  <div class="form-container">
    <form id="form" asp-action="@(ViewBag.Title == "Editar Empleado" ? "Actualizar" : "Guardar")"
      asp-controller="Empleados" method="post">
      @* <form id="form" asp-action="Guardar" asp-controller="Empleados" method="post"> *@
      <div class="campos-container">
        <div class="grupo informacion-personal">
          <div class="titulo-grupo" id="titulo">
            <h2>Informacion personal</h2>
          </div>
          <div class="campo" id="campo_codigo_empleado" style="display: none;">
            <label for="codigo_empleado">Codigo empleado</label>
            <input type="text" name="codigo_empleado" id="codigo_empleado"
              value="@((Model.Empleado?.CODIGO_EMPLEADO) ?? "")">
          </div>
          <div class="campo" id="campo_cedula">
            <label for="cedula">Cedula</label>
            <input required type="text" name="cedula" id="cedula" value="@((Model.Empleado?.CEDULA) ?? "")">
          </div>
          <div class="campo" id="campo_p_nombre">
            <label for="p_nombre">Primer nombre</label>
            <input required type="text" name="p_nombre" id="p_nombre" value="@((Model.Empleado?.P_NOMBRE) ?? "")">
          </div>
          <div class="campo" id="campo_s_nombre">
            <label for="s_nombre">Segundo nombre</label>
            <input type="text" name="s_nombre" id="s_nombre" value="@((Model.Empleado?.S_NOMBRE) ?? "")">
          </div>
          <div class="campo" id="campo_p_apellido">
            <label for="p_apellido">Primer apellido</label>
            <input required type="text" name="p_apellido" id="p_apellido" value="@((Model.Empleado?.P_APELLIDO) ?? "")">
          </div>
          <div class="campo" id="campo_s_apellido">
            <label for="s_apellido">Segundo apellido</label>
            <input type="text" name="s_apellido" id="s_apellido" value="@((Model.Empleado?.S_APELLIDO) ?? "")">
          </div>
          <div class="campo" id="campo_fecha_nacimiento">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input required type="text" name="fecha_nacimiento" id="fecha_nacimiento"
              value="@((Model.Empleado?.FECHA_NACIMIENTO) ?? "")">
          </div>
          <div class="campo" id="campo_sexo">
            <label for="sexo">Sexo</label>
            <select required name="sexo" id="sexo" val>
              <option value="default" disabled selected>Seleccionar</option>
              @{

                if (Model.Empleado?.SEXO == "M")
                {
                  <option value="M" selected>Masculino</option>
                }
                else
                {
                  <option value="M">Masculino</option>

                }
              }

              @{

                if (Model.Empleado?.SEXO == "F")
                {
                  <option value="F" selected>Femenino</option>
                }
                else
                {
                  <option value="F">Femenino</option>

                }
              }
            </select>
          </div>
          <div class="campo" id="campo_estado_civil">
            <label for="estado_civil">Estado civil</label>
            <select required name="ESTADO_CIVIL" id="estado_civil">
              <option value="default" disabled selected>Seleccionar</option>

              @{

                if (Model.Empleado?.ESTADO_CIVIL == "Casado/a")
                {
                  <option value="Casado/a" selected>Casado/a</option>
                }
                else
                {
                  <option value="Casado/a">Casado/a</option>

                }
              }

              @{

                if (Model.Empleado?.ESTADO_CIVIL == "Soltero/a")
                {
                  <option value="Soltero/a" selected>Soltero/a</option>
                }
                else
                {
                  <option value="Soltero/a">Soltero/a</option>

                }
              }
            </select>
          </div>
          <div class="campo" id="campo_tipo_sangre">
            <label for="tipo_sangre">Tipo de sangre</label>
            <select name="TIPO_SANGRE" id="tipo_sangre">
              <option value="default" disabled selected>Seleccionar</option>
              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "A+")
                {
                  <option value="A+" selected>A+</option>
                }
                else
                {
                  <option value="A+">A+</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "A-")
                {
                  <option value="A-" selected>A-</option>
                }
                else
                {
                  <option value="A-">A-</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "B+")
                {
                  <option value="B+" selected>B+</option>
                }
                else
                {
                  <option value="B+">B+</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "B-")
                {
                  <option value="B-" selected>B-</option>
                }
                else
                {
                  <option value="B-">B-</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "AB+")
                {
                  <option value="AB+" selected>AB+</option>
                }
                else
                {
                  <option value="AB+">AB+</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "AB-")
                {
                  <option value="AB-" selected>AB-</option>
                }
                else
                {
                  <option value="AB-">AB-</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "O+")
                {
                  <option value="O+" selected>O+</option>
                }
                else
                {
                  <option value="O+">O+</option>

                }
              }

              @{

                if (Model.Empleado?.TIPO_SANGRE.Trim() == "O-")
                {
                  <option value="O-" selected>O-</option>
                }
                else
                {
                  <option value="O-">O-</option>

                }
              }
            </select>
          </div>
          <div class="campo" id="campo_pais_nacimiento">
            <label for="pais_nacimiento">Pais de nacimiento</label>
            <input required type="text" name="PAIS_NACIMIENTO" id="pais_nacimiento"
              value="@((Model.Empleado?.PAIS_NACIMIENTO) ?? "")">
          </div>
        </div>
      </div>
      <div class="campos-container">
        <div class="grupo contacto">
          <div class="titulo-grupo" id="titulo-contacto">
            <h2>Contacto</h2>
          </div>
          <div class="campo" id="campo_direccion">
            <label for="direccion">Direccion</label>
            <input required type="text" name="DIRECCION" id="direccion" value="@((Model.Empleado?.DIRECCION) ?? "")">
          </div>
          <div class="campo" id="campo_telefono_principal">
            <label for="telefono_principal">Telefono principal</label>
            <input type="text" name="TELEFONO_PRINCIPAL" id="telefono_principal"
              value="@((Model.Empleado?.TELEFONO_PRINCIPAL) ?? "")">
          </div>
          <div class="campo" id="campo_telefono_secundario">
            <label for="telefono_secundario">Telefono secundario</label>
            <input type="text" name="TELEFONO_SECUNDARIO" id="telefono_secundario"
              value="@((Model.Empleado?.TELEFONO_SECUNDARIO) ?? "")">
          </div>
          <div class="campo" id="campo_email">
            <label for="email">Email</label>
            <input type="text" name="EMAIL" id="email" value="@((Model.Empleado?.EMAIL) ?? "")">
          </div>
        </div>
      </div>
      <div class="campos-container">
        <div class="grupo informacion-geografica">
          <div class="titulo-grupo" id="titulo-informacion-geografica">
            <h2>Informacion geografica</h2>
          </div>
          <div class="campo" id="campo_sector">
            <label for="sector">Sector</label>
            <select required name="ID_SECTOR" id="sector">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var sector in @Model.Sectores)
              {

                if (sector.ID_SECTOR == Model.Empleado?.ID_SECTOR)
                {
                  <option id="@sector.ID_SECTOR" value="@sector.ID_SECTOR" selected>@sector.NOMBRE</option>
                }
                else
                {
                  <option id="@sector.ID_SECTOR" value="@sector.ID_SECTOR">@sector.NOMBRE</option>
                }
              }
            </select>
          </div>
          <div class="campo" id="campo_ciudad">
            <label for="ciudad">Ciudad</label>
            <select required name="ID_CIUDAD" id="ciudad">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var ciudad in @Model.Ciudades)
              {
                if (ciudad.ID_CIUDAD == Model.Empleado?.ID_CIUDAD)
                {
                  <option id="@ciudad.ID_CIUDAD" value="@ciudad.ID_CIUDAD" selected>@ciudad.NOMBRE</option>
                }
                else
                {
                  <option id="@ciudad.ID_CIUDAD" value="@ciudad.ID_CIUDAD">@ciudad.NOMBRE</option>
                }
              }
            </select>
          </div>
          <div class="campo" id="campo_provincia">
            <label for="provincia">Provincia</label>
            <select required name="ID_PROVINCIA" id="provincia">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var provincia in @Model.Provincias)
              {

                if (provincia.ID_PROVINCIA == Model.Empleado?.ID_PROVINCIA)
                {
                  <option id="@provincia.ID_PROVINCIA" value="@provincia.ID_PROVINCIA" selected>@provincia.NOMBRE</option>
                }
                else
                {
                  <option id="@provincia.ID_PROVINCIA" value="@provincia.ID_PROVINCIA">@provincia.NOMBRE</option>
                }
              }
            </select>
          </div>
          @* <div class="campo" id="campo_region">
            <label for="region">Region</label>
            <select required name="ID_REGION" id="region">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var region in @Model.Regiones)
              {

                <option id="@region.ID_REGION" value="@region.ID_REGION">@region.REGION</option>
              }
            </select>
          </div> *@
        </div>
      </div>
      <div class="campos-container">
        <div class="grupo informacion-laboral ">
          <div class="titulo-grupo" id="titulo-informacion-laboral">
            <h2>Informacion laboral</h2>
          </div>
          <div class="campo" id="campo_cuenta_banco">
            <label for="cuenta_banco">Cuenta banco</label>
            <input type="text" name="CUENTA_BANCO" id="cuenta_banco" value="@((Model.Empleado?.CUENTA_BANCO) ?? "")">
          </div>
          <div class="campo" id="campo_entidad_bancaria">
            <label for="entidad_bancaria">Entidad bancaria</label>
            <select name="ID_ENTIDAD_BANCARIA" id="entidad_bancaria">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var entidad_bancaria in @Model.EntidadesBancarias)
              {
                if (entidad_bancaria.ID == Model.Empleado?.ID_ENTIDAD_BANCARIA)
                {
                  <option id="@entidad_bancaria.ID" value="@entidad_bancaria.ID" selected>
                    @entidad_bancaria.NOMBRE</option>
                }
                else
                {
                  <option id="@entidad_bancaria.ID" value="@entidad_bancaria.ID">
                    @entidad_bancaria.NOMBRE</option>
                }
              }
            </select>
          </div>
          <div class="campo" id="campo_puesto">
            <label for="puesto">Puesto</label>
            <select name="ID_PUESTO" id="puesto">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var puesto in @Model.Puestos)
              {

                if (puesto.ID_PUESTO == Model.Empleado?.ID_PUESTO)
                {
                  <option id="@puesto.ID_PUESTO" value="@puesto.ID_PUESTO" selected>@puesto.NOMBRE</option>
                }
                else
                {
                  <option id="@puesto.ID_PUESTO" value="@puesto.ID_PUESTO">@puesto.NOMBRE</option>
                }

              }
            </select>
          </div>
          <div class="campo" id="campo_departamento">
            <label for="departamento">Departamento</label>
            <select name="ID_DEPARTAMENTO" id="departamento">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var departamento in @Model.Departamentos)
              {

                if (departamento.ID_DEPARTAMENTO == Model.Empleado?.ID_DEPARTAMENTO)
                {
                  <option id="@departamento.ID_DEPARTAMENTO" value="@departamento.ID_DEPARTAMENTO" selected>
                    @departamento.NOMBRE
                  </option>
                }
                else
                {
                  <option id="@departamento.ID_DEPARTAMENTO" value="@departamento.ID_DEPARTAMENTO">
                    @departamento.NOMBRE
                  </option>
                }
              }
            </select>
          </div>
          <div class="campo" id="campo_nivel_aprobacion">
            <label for="nivel_aprobacion">Nivel Aprobacion</label>
            <select name="ID_NIVEL_APROBACION" id="nivel_aprobacion">
              <option value="default" disabled selected>Seleccionar</option>
              @foreach (var nivel_aprobacion in @Model.NivelesAprobacion)
              {

                if (nivel_aprobacion.ID_NIVEL_APROBACION == Model.Empleado?.ID_NIVEL_APROBACION)
                {
                  <option id="@nivel_aprobacion.ID_NIVEL_APROBACION" value="@nivel_aprobacion.ID_NIVEL_APROBACION" selected>
                    @nivel_aprobacion.ID_NIVEL_APROBACION
                  </option>
                }
                else
                {
                  <option id="@nivel_aprobacion.ID_NIVEL_APROBACION" value="@nivel_aprobacion.ID_NIVEL_APROBACION">
                    @nivel_aprobacion.ID_NIVEL_APROBACION
                  </option>
                }
              }
            </select>
          </div>
          <div class="campo" id="campo_frecuencia_cobro">
            <label for="frecuencia_cobro">Frecuencia cobro</label>
            <select required name="FRECUENCIA_COBRO" id="frecuencia_cobro">
              <option value="default" disabled selected>Seleccionar</option>

              @{

                if (Model.Empleado?.FRECUENCIA_COBRO == "Semanal")
                {
                  <option value="Semanal" selected>Semanal</option>
                }
                else
                {
                  <option value="Semanal">Semanal</option>

                }
              }

              @{

                if (Model.Empleado?.FRECUENCIA_COBRO == "Quincenal")
                {
                  <option value="Quincenal" selected>Quincenal</option>
                }
                else
                {
                  <option value="Quincenal">Quincenal</option>

                }
              }

              @{

                if (Model.Empleado?.FRECUENCIA_COBRO == "Mensual")
                {
                  <option value="Mensual" selected>Mensual</option>
                }
                else
                {
                  <option value="Mensual">Mensual</option>

                }
              }
            </select>
          </div>
          <div class="campo" id="campo_estatus">
            <label for="estatus">Estatus</label>
            <select name="estatus" id="estatus">
              <option value="default" disabled selected>Seleccionar</option>
              @{

                if (Model.Empleado?.ESTATUS == "Activo")
                {
                  <option value="Activo" selected>Activo</option>
                }
                else
                {
                  <option value="Activo">Activo</option>

                }
              }

              @{

                if (Model.Empleado?.ESTATUS == "Suspendido")
                {
                  <option value="Suspendido" selected>Suspendido</option>
                }
                else
                {
                  <option value="Suspendido">Suspendido</option>

                }
              }

              @{

                if (Model.Empleado?.ESTATUS == "Inactivo")
                {
                  <option value="Inactivo" selected>Inactivo</option>
                }
                else
                {
                  <option value="Inactivo">Inactivo</option>

                }
              }
            </select>
          </div>
        </div>
      </div>
      <div class="campos-container">
        <div class="grupo informacion-familiar">
          <div class="titulo-grupo" id="titulo-informacion-familiar">
            <h2>Informacion familiar</h2>
          </div>
          <div class="campo" id="campo_nombre_familiar_primario">
            <label for="nombre_familiar_primario">Nombre familiar primario</label>
            <input type="text" name="NOMBRE_FAMILIAR_PRIMARIO" id="nombre_familiar_primario"
              value="@((Model.Empleado?.NOMBRE_FAMILIAR_PRIMARIO) ?? "")">
          </div>
          <div class="campo" id="campo_telefono_familiar_primario">
            <label for="telefono_familiar_primario">Telefono familiar primario</label>
            <input type="text" name="TELEFONO_FAMILIAR_PRIMARIO" id="telefono_familiar_primario"
              value="@((Model.Empleado?.TELEFONO_FAMILIAR_PRIMARIO) ?? "")">
          </div>
          <div class="campo" id="campo_parentesco_familiar_primario">
            <label for="parentesco_familiar_primario">Parentesco familiar primario</label>
            <select name="PARENTESCO_FAMILIAR_PRIMARIO" id="parentesco_familiar_primario">
              <option value="default" disabled selected>Seleccionar</option>
              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Padre")
                {
                  <option value="Padre" selected>Padre</option>
                }
                else
                {
                  <option value="Padre">Padre</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Madre")
                {
                  <option value="Madre" selected>Madre</option>
                }
                else
                {
                  <option value="Madre">Madre</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Hermano/a")
                {
                  <option value="Hermano/a" selected>Hermano/a</option>
                }
                else
                {
                  <option value="Hermano/a">Hermano/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Primo/a")
                {
                  <option value="Primo/a" selected>Primo/a</option>
                }
                else
                {
                  <option value="Primo/a">Primo/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Tio/a")
                {
                  <option value="Tio/a" selected>Tio/a</option>
                }
                else
                {
                  <option value="Tio/a">Tio/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_PRIMARIO == "Esposo/a")
                {
                  <option value="Esposo/a" selected>Esposo/a</option>
                }
                else
                {
                  <option value="Esposo/a">Esposo/a</option>

                }
              }
            </select>
          </div>
          <div class="campo" id="campo_nombre_familiar_secundario">
            <label for="nombre_familiar_secundario">Nombre familiar secundario</label>
            <input type="text" name="NOMBRE_FAMILIAR_SECUNDARIO" id="nombre_familiar_secundario"
              value="@((Model.Empleado?.NOMBRE_FAMILIAR_SECUNDARIO) ?? "")">
          </div>
          <div class="campo" id="campo_telefono_familiar_secundario">
            <label for="telefono_familiar_secundario">Telefono familiar secundario</label>
            <input type="text" name="TELEFONO_FAMILIAR_SECUNDARIO" id="telefono_familiar_secundario"
              value="@((Model.Empleado?.TELEFONO_FAMILIAR_SECUNDARIO) ?? "")">
          </div>
          <div class="campo" id="campo_parentesco_familiar_secundario">
            <label for="parentesco_familiar_secundario">Parentesco familiar secundario</label>
            <select name="PARENTESCO_FAMILIAR_SECUNDARIO" id="parentesco_familiar_secundario">
              <option value="default" disabled selected>Seleccionar</option>
              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Padre")
                {
                  <option value="Padre" selected>Padre</option>
                }
                else
                {
                  <option value="Padre">Padre</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Madre")
                {
                  <option value="Madre" selected>Madre</option>
                }
                else
                {
                  <option value="Madre">Madre</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Hermano/a")
                {
                  <option value="Hermano/a" selected>Hermano/a</option>
                }
                else
                {
                  <option value="Hermano/a">Hermano/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Primo/a")
                {
                  <option value="Primo/a" selected>Primo/a</option>
                }
                else
                {
                  <option value="Primo/a">Primo/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Tio/a")
                {
                  <option value="Tio/a" selected>Tio/a</option>
                }
                else
                {
                  <option value="Tio/a">Tio/a</option>

                }
              }

              @{

                if (Model.Empleado?.PARENTESCO_FAMILIAR_SECUNDARIO == "Esposo/a")
                {
                  <option value="Esposo/a" selected>Esposo/a</option>
                }
                else
                {
                  <option value="Esposo/a">Esposo/a</option>

                }
              }
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script src="~/js/Form.js"></script>